<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    <h3>Flashcards</h3><br />
    <p>У Вас появились непросмотренные карточки. Возвращайтесь скорее на
       <a href="https://thawing-eyrie-6402.herokuapp.com/reviews/new">сайт</a> и пройдите тренировку ;)</p>
  </body>
</html>
